.top-banner {
    width: 100%;
}

.hero {
    background-image: url(../images/top-banner.png);
    text-align: center;
    height: 50vh;
}

.site-title {
    font-size: 5rem;
    margin: 2rem;
}

footer {
    background: #eeeeee;
    text-align: center;
}

.jump-btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jump-btn {
    margin: 5px;
    height: 200px;
    width: 200px;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}