/* 全ページ共通スタイル */

html {
    font-size: 62.5%;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    scroll-padding-top: 7rem;
}

@media (max-width: 500px) {
    html {
        font-size: 45%;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 見出し */

h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
}


/* ヘッダとフッタ */

header {
    z-index: 99999;
    position: sticky;
    top: 0;
    height: 6.5rem;
    background-color: #91e3ff;
}

header h1 {
    font-family: 'Kiwi Maru', serif;
    padding: 1.3rem;
    padding-bottom: 1rem;
}

header h3 {
    padding-left: 1.5rem;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background-color: #eeeeee;
}

footer * {
    margin: 0.5rem;
}

footer h3 {
    font-weight: normal;
}

footer .quote-box {
    width: calc(100% - 25rem);
    margin: 0 auto;
    font-size: 1rem;
}


/* メインエリア */

main {
    font-size: 1.6rem;
    margin: 1rem;
}

main .breadcrumb {
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

main a {
    color: #0000bb;
}

main a:hover {
    color: #4444ff;
}

.title {
    background-color: #ccf2ff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


/* メモリア等のflexbox */

.flex_memoria-box, .flex_costume-box {
    background-color: #ccf2ff;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flex_memoria-item, .flex_costume-item {
    word-break: break-all;
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: 11rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
}

.flex_memoria-item img, .flex_costume-item img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
}

.flex_memoria-item-after, .flex_costume-item-after {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: 11rem;
}


.memoria_img, .chara_img {
    height: 8rem;
}


.flex_memoria-item {
    position: relative;
}

.flex_memoria-item .switch-icon {
    cursor: pointer;
}
.flex_memoria-item .switch-icon::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f553";
    position: absolute;
    font-size: 2rem;
    color: #F87F9F;
    text-shadow: 0 0 1rem #000000;
    top: -0.5rem;
    left: -0.5rem;
    padding: 1.5rem;
}
.flex_memoria-item .switch-icon::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f021";
    position: absolute;
    font-size: 1.5rem;
    color: #ffffff;
    top: 1.5rem;
    left: 2rem;
}

.flex_memoria-item .memoria, .flex_memoria-item .costume {
    background-color: #ffffff;
}

.flex_memoria-item .costume {
    display: none;
}

.flex_memoria-item .costume.active {
    display: block;
}

.flex_memoria-item .memoria {
    display: none;
}

.flex_memoria-item .memoria.active {
    display: block;
}


/*チケットデータのflexbox*/

.flex_medal-box, .flex_ticket-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.flex_medal-item, .flex_ticket-item {
    padding: 1rem;
    color: #000;
    background-color: #fff;
    margin: 0.5rem;
    width: 40rem;
    border: 0.2rem solid #91e3ff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    min-height: 7.4rem;
}

.flex_medal-item>div:first-child, .flex_ticket-item>div:first-child {
    width: 5.5rem;
    text-align: left;
    float: left;
}

.flex_medal-item>div:last-child, .flex_ticket-item>div:last-child {
    text-align: left;
    overflow: hidden;
}

.flex_medal-item img, .flex_ticket-item img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}


/*ボタンのためのflex-box*/

.flex_btn-box {
    background-color: #ccf2ff;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flex_btn-box.close {
    display: none;
}

.flex_btn-box a:hover {
    cursor: pointer;
}

.flex_btn-box a img {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
}

.flex_btn-box a p {
    margin: 0.2rem;
}

.flex_btn-item {
    padding: 0;
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.flex_btn-box a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    background-color: #eee;
    width: 12rem;
    margin: 0.2rem;
    height: calc(100% - 0.4rem);
}


/*選択ボタン*/

input, button {
    background-color: #eee;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
    padding: 1rem;
    font-size: 2rem;
}

input:hover, button:hover {
    cursor: pointer;
}

input.active, button.active {
    background-color: #00bfff;
}

button img.yakuwari-img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
}

button.chara {
    padding: 0rem;
    width: 12rem;
    font-size: 1.6rem;
    height: calc(100% - 0.4rem);
}

button.chara p {
    margin: 0.2rem;
}

button.chara img {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
}

a.chara {
    padding: 0rem;
    width: 12rem;
    height: calc(100% - 0.4rem);
}

a.chara p {
    margin: 0.2rem;
}

a.chara img {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
}


/* プルダウン */

select {
    cursor: pointer;
    background: #ffffff;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
}

select, label {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 1rem;
    font-size: 2rem;
}

select.disabled {
    background-color: #868686;
    pointer-events: none;
}


/* 表 */

table {
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;
}

th,td {
    white-space: nowrap;
    padding: 0.5rem;
    background: #ffffff;
}
