* {
    padding: 0;
    margin: 0;
}

header {
    z-index: 99999;
    position: sticky;
    top: 0;
    height: 90px;
    background-color: #91e3ff;
}

header h1 {
    padding: 10px;
    padding-bottom: 0;
}

header h3 {
    padding-left: 10px;
}

.top-banner {
    width: 100%;
}

main {
    margin: 10px;
}

.top-page-content {
    margin-left: 20px;
    margin-bottom: 10px;
}

.top-page-content * {
    margin: 5px;
}

.jump-btn {
    height: 200px !important;
    width: 200px !important;
    border: 1px;
    background-color: #eeeeee;
}

.title {
    grid-area: title;
    background-color: #ccf2ff;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    height: 100px;
    text-align: center;
    margin-top: 10px;
    background-color: #eeeeee;
}

footer * {
    margin: 5px;
}

.quote-box {
    width: calc(100% - 200px);
    margin: 0 auto;
    font-size: 10px;
}




