#memoria_list {
    display: none;
}

#memoria_list.active {
    display: flex;
}

#memoria-open-btn {
    background-color: #eee;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

#memoria-open-btn.active {
    background-color: #00bfff;
}

#result_img {
    height: 10rem;
    float: left;
    margin: 0 2rem 2rem 0;
}


/*チケットデータのflexbox*/

.flex_medal-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.flex_medal-item {
    padding: 1rem;
    color: #000;
    background-color: #fff;
    margin: 0.5rem;
    width: 40rem;
    border: 0.2rem solid #91e3ff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.flex_medal-item table td {
    padding: 0;
    border: solid 0;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    background-color: transparent;
    font-size: 1.6rem;
    height: 2.5rem;
}

.flex_medal-item table tr:first-child>td:first-child {
    width: 5.5rem;
}

.flex_medal-item img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}

.flex_medal-item table td a {
    display:block;
    width:100%;
    height:100%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}