.order-category {
    font-size: 2rem;
    line-height: 2.8rem;
}

.example {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 16rem);
    scroll-padding-top: 3.2rem;
    font-size: 1.6rem;
}

th {
    background-color: #00bfff;
    border-right: 0.1rem solid #000;
    border-bottom: 0.2rem solid #000;
    text-align: center;
}

td {
    border-right: 0.1rem solid #999;
    border-bottom: 0.1rem solid #999;
    text-align: left;
    vertical-align: middle;
}

tr:first-child>th:first-child {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

tr:first-child>th {
    border-top: 0.2rem solid #000;
    position: sticky;
    top: 0;
}

tr:last-child>* {
    border-bottom: 0.2rem solid #000;
}

tr>*:first-child {
    border-left: 0.2rem solid #000;
    border-right: 0.2rem solid #000;
    position: sticky;
    left: 0;
}

tr>*:last-child {
    border-right: 0.2rem solid #000;
}

tr>th:nth-of-type(3), tr>th:nth-of-type(5), tr>th:nth-of-type(7) {
    border-right: 0.2rem solid #000;
}

tr>td:nth-of-type(2) {
    text-align: center;
}

tr>td:nth-of-type(3), tr>td:nth-of-type(5), tr>td:nth-of-type(7) {
    text-align: center;
    border-right: 0.2rem solid #000;
}

tr.paid>td{
    background-color: #ccf2ff;
}

img {
    height: 8rem;
    vertical-align: middle;
}