html {
    scroll-padding-top: 100px;
}

table{
    margin: 0;
    border-spacing: 0;
}

.example {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
    scroll-padding-top: 28px;
}

th {
    white-space: nowrap;
    background-color: #00bfff;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
}

td {
    text-align: left;
    vertical-align: center;
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px;
    background-color: #fff;
}

table tr th:nth-of-type(3) {
    border-right: 2px solid #000 !important;
}

table tr th:nth-of-type(5) {
    border-right: 2px solid #000 !important;
}

table tr th:nth-of-type(7) {
    border-right: 2px solid #000 !important;
}

table tr td:nth-of-type(2) {
    text-align: center;
}

table tr td:nth-of-type(3) {
    text-align: center;
    border-right: 2px solid #000;
}

table tr td:nth-of-type(5) {
    text-align: center;
    border-right: 2px solid #000;
}

table tr td:nth-of-type(7) {
    text-align: center;
    border-right: 2px solid #000;
}

tr:first-child th:first-child {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

tr:first-child th {
    border-top: 2px solid #000;
    position: sticky;
    top: 0px;
}

tr:last-child td {
    border-bottom: 2px solid #000;
}

tr.paid td{
    background-color: #ccf2ff;
}

th:first-child {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

th:last-child {
    border-right: 2px solid #000;
}

td:first-child {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    position: sticky;
    left: 0;
    background-color: #fff !important;
}

td:last-child {
    border-right: 2px solid #000;
}

img {
    height: 80px;
    vertical-align: middle;
}