#costume_list {
    display: none;
}

#costume_list.active {
    display: flex;
}

#costume-open-btn {
    background-color: #eee;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

#costume-open-btn.active {
    background-color: #00bfff;
}

#result_img {
    height: 10rem;
    float: left;
    margin: 0 2rem 2rem 0;
}



.flex_gacha-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.flex_gacha-item {
    padding: 1rem;
    color: #000;
    background-color: #fff;
    margin: 0.5rem;
    width: 40rem;
    border: 0.2rem solid #91e3ff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.flex_gacha-item.no-display {
    display: none;
}

.flex_gacha-item img {
    height: 11rem;
}

.flex_gacha-item .item_img {
    margin: 0;
}

.flex_gacha-item table {
    margin: 0;
    padding: 0;
}

.flex_gacha-item table td {
    padding: 0;
    border: solid 0;
    text-align: left;
    white-space: normal;
    background-color: transparent;
}

.flex_gacha-item table td a {
    display:block;
    width:100%;
    height:100%;
}

.flex_gacha-item table tr:first-child>td {
    text-align: center;
}

.flex_gacha-item table tr:last-child>td:first-child {
    width: 5.5rem;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#result_info, #result_gachas, #result_exchanges {
    display: none;
}

#result_info.active, #result_gachas.active, #result_exchanges.active {
    display: block;
}
