/*モード切替*/

.mode-box {
    padding: 1rem;
}

#mode-check {
    height: 2rem;
    width: 2rem;
}


/*キャラボタンの表示切替*/

#chara_list {
    display: none;
    background: #ccf2ff;
    border: 0.1rem solid #333333;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
}

#chara_list.active {
    display: block;
}

#chara_list h3 {
    margin-top: 1rem;
    margin-left: 0.5rem;
}
/*
#chara-open-btn {
    background-color: #eee;
    width: 22rem;
    height: 3rem;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

#chara-open-btn.active {
    background-color: #00bfff;
}*/


/*ボタンのためのflex*/
/*

.flex_btn-box {
    background-color: #ccf2ff;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flex_btn-item {
    padding: 0;
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}*/


/*ボタン*/
/*

.select-btn {
    background-color: #eee;
    width: 10rem;
    height: 3rem;
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.select-btn:hover {
    cursor: pointer;
}

.select-btn.active {
    background-color: #00bfff;
}*/


/*メインの表*/

.maintable {
    overflow: auto;
    width: 100%;
    border: 0.1rem solid #000000;
}

.maintable th {
    background-color: #00bfff;
    border-right: 0.1rem solid #000;
    border-bottom: 0.2rem solid #000;
}

.maintable td {
    text-align: left;
    vertical-align: middle;
    border-right: 0.1rem solid #999;
    border-bottom: 0.1rem solid #999;
}

.maintable tr:first-child>th:first-child {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

.maintable tr:first-child>th {
    border-top: 0.2rem solid #000;
    border-bottom: 0.2rem solid #000;
    position: sticky;
    top: 0;
}

.maintable tr:last-child>* {
    border-bottom: 0.2rem solid #000;
}

.maintable tr>*:first-child {
    border-left: 0.2rem solid #000;
    border-right: 0.2rem solid #000;
    position: sticky;
    left: 0;
}

.maintable tr>*:last-child {
    border-right: 0.2rem solid #000;
}

.maintable th>td:nth-of-type(2), .maintable tr>td:nth-of-type(2) {
    white-space: normal;
}


/*boxの表示/非表示切替*/

.category {
    cursor: pointer;
}

.category span {
    display: inline-block;
    transform: rotate(90deg);
}

.category.close span {
    display: inline-block;
    transform: rotate(0deg);
}
/*
.flex_btn-box.close {
    display: none;
}


button {
    background-color: #eee;
    width: 12rem;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
    height: calc(100% - 0.4rem);
}

button:hover {
    cursor: pointer;
}

button.active {
    background-color: #00bfff;
}

button img {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
}

button img.yakuwari-img {
    width: 1.6rem;
    height: 1.6rem;
}

button p {
    margin: 0.2rem;
}*/

.belong {
    cursor: pointer;
}

.belong span {
    display: inline-block;
    transform: rotate(90deg);
}

.belong.close span {
    display: inline-block;
    transform: rotate(0deg);
}