html {
    scroll-padding-top: 7.5rem;
}

.memoria-category {
    font-size: 2rem;
    line-height: 2.8rem;
}

.category0 {
    font-size: 2.5rem;
    font-weight: bold;
}

.category1 {
    background-color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    border: #00bfff solid 0.2rem;
}

.category2 {
    background-color: #fff;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border: #00bfff solid 0.1rem;
}



select {
    background: #ffffff;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
}

select, label {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    font-size: 2rem;
}

select.disabled {
    background-color: #868686;
    pointer-events: none;
}



h2.category-1 {
    border: #00bfff solid 0.1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

h3.category-2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}