#calcu_form {
    background: #ddf3fd;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#calcu_form>div {
    margin-bottom: 3rem;
}

#calcu_form span {
    padding: 1rem;
}

dl dt {
    padding: 0.5rem 0;
    line-height: 4rem;
    float: left;
    padding-right: 1rem;
}

dl dd {
    padding: 0.5rem 0;
    line-height: 4rem;
    padding-right: 3rem;
}

dl dd input.box {
    width: 8rem;
    text-align: center;
}

dl dd input.long-box {
    width: 12rem;
    text-align: right;
}

input, select {
    border: 0.1rem solid #555555;
    border-radius: 0;
    -webkit-appearance: auto;
    appearance: auto;
    background-color: #ffffff;
    cursor: pointer;
    height: 4rem;
    padding: 0 1rem;
}

input.error, select.error {
    background-color: #ffff00;
}

#calc-btn, .display-btn {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 0.1rem solid #555555;
}

#calc-btn {
    width: 10rem;
    background-color: #00bfff;
}

#calc-btn.before-change {
    background: #ffff99;
}

#calc-btn.error {
    background: #ffff00;
}

.display-btn.active {
    background-color: #00bfff;
}

#input, .info {
    width: 64rem;
    max-width: 100%;
}

#output {
    width: (100% - 70rem);
    max-width: 100%;
}

#day_output dl dd {
    float: left;
}

#day_output dl dd:last-child {
    float: initial;
}

.row_content {
    padding: 0.5rem 0;
}

#goal_input {
    width: 31rem;
}

#goal_input dd {
    margin-left: 20rem;
}

#have_input {
    width: 25rem;
}

#have_input dd {
    margin-left: 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem 0;
}

div.table {
    margin-top: 1rem;
    overflow: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border: 0.2rem solid #000000;
}

table th, table td {
    border: 0.1rem solid #000000;
    padding: 0.5rem;
}

table td {
    text-align: right;
}

table th {
    background: #ccf2ff;
    color: #000000;
}

table tr.group-start td, table tr.group-start th {
    border-top: 0.2rem solid #000000;
}

table tr.group-end td, table tr.group-end th {
    border-bottom: 0.2rem solid #000000;
}

table tr.important td, table tr.important th {
    background: #86e1ff;
    border-bottom: 0.2rem solid #000000;
}

#goal_table tr:last-child th {
    padding: 2rem 0.5rem;
}

#goal_table tr:last-child td {
    font-size: 2rem;
    padding: 1.6rem 0.5rem;
    padding-left: 2rem;
}

#exchange_lack {
    text-align: left;
}

#exchange_lack.plus {
    color: #0000cc;
}

#exchange_lack.minus {
    color: #cc0000;
}

#need_table, #reward_table {
    display: none;
}

#need_table.active, #reward_table.active {
    display: block;
}
