hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th {
    background-color: #00bfff;
    border-right: 0.1rem solid #000;
    border-bottom: 0.2rem solid #000;
}

td {
    border-right: 0.1rem solid #999;
    border-bottom: 0.1rem solid #999;
    text-align: left;
    vertical-align: middle;
}

tr:first-child>th {
    border-top: 0.2rem solid #000;
    position: sticky;
    top: 0;
}

tr:last-child>* {
    border-bottom: 0.2rem solid #000;
}

tr>*:first-child {
    border-left: 0.2rem solid #000;
}

tr>*:last-child {
    border-right: 0.2rem solid #000;
}

.bonus-list {
    overflow: auto;
    width: max-content;
    height: 28.5rem;
}

.bonus-list tr>td:nth-of-type(1), .bonus-list tr>td:nth-of-type(2) {
    text-align: right;
}

.step-list {
    overflow: auto;
    width: max-content;
    height: 28.5rem;
}

.step-list tr.kugiri>td {
    border-bottom: 0.2rem solid #000;
}

.step-list tr>td {
    text-align: right;
}

.step-list tr>td:nth-of-type(7) {
    text-align: left;
}

.gacha-list {
    overflow: auto;
    width: max-content;
    height: calc(100vh - 16rem);
    width: 100%;
    scroll-padding-top: 3.2rem;
}

.banner_img {
    height: 15rem;
}

.mini-banner_img {
    height: 8rem;
    vertical-align: middle;
}

.item_img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
    margin: 0.1rem;
    margin-right: 0.5rem;
}