hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jump-list {
    font-size: 2rem;
    line-height: 2.8rem;
}

img.item_img {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #00bfff;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


/*チケットデータのflexbox*/

.flex_medal-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.flex_medal-item {
    padding: 1rem;
    color: #000;
    background-color: #fff;
    margin: 0.5rem;
    width: 40rem;
    border: 0.2rem solid #91e3ff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.flex_medal-item table td {
    padding: 0;
    border: solid 0;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    background-color: transparent;
    font-size: 1.6rem;
    height: 2.5rem;
}

.flex_medal-item table tr:first-child>td:first-child {
    width: 5.5rem;
}

.flex_medal-item img {
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}

.flex_medal-item table td a {
    display:block;
    width:100%;
    height:100%;
}


/*boxの表示/非表示切替*/

.category {
    background: #ffffff;
    border: solid #88e1ff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.category span {
    display: inline-block;
    transform: rotate(90deg);
}

.category.close span {
    display: inline-block;
    transform: rotate(0deg);
}

.content {
    margin-bottom: 2rem;
}

.content.close {
    display: none;
}