/*絞り込みメニュー*/

#filter-menu {
    display: none;
    position: fixed;
    z-index: 999;
    width: calc(100%);
    height: calc(100vh - 6rem);
    font-size: 1.6rem;
    background: #868686;
}

#filter-menu.active {
    display: block;
}

#dual-display {
    margin-left: 3rem;
}

.filter-menu_content {
    background: #ccf2ff;
    margin: 2rem;
    padding: 2rem;
    height: max-content;
    max-height: calc(100% - 10rem);
    overflow: auto;
}

.filter-btn {
    width: 100%;
    background: #00bfff;
    height: 3rem;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

select {
    background: #ffffff;
    height: 3rem;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
}

select, label {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
}

select.disabled {
    background-color: #868686;
    pointer-events: none;
}

/*ボタンのためのflex-box*/

.flex_btn-box {
    background-color: #ccf2ff;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flex_btn-item {
    padding: 0;
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}


/*ボタン*/

.select-btn {
    background-color: #eee;
    width: 15rem;
    height: 3rem;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.select-btn:hover {
    cursor: pointer;
}

.select-btn.active {
    background-color: #00bfff;
}


/*メインの表*/

.maintable {
    overflow: auto;
    width: 100%;
    font-size: 1.2rem;
    border: 0.1rem solid #000000;
}

.maintable th {
    background-color: #00bfff;
    border-right: 0.1rem solid #000000;
    border-bottom: 0.2rem solid #000000;
}

.maintable td {
    text-align: left;
    vertical-align: middle;
    border-right: 0.1rem solid #999999;
    border-bottom: 0.1rem solid #999999;
    max-width: 50rem;
    line-height: 1.6rem;
}

.maintable tr:first-child>th:first-child {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

.maintable tr:first-child>th {
    border-top: 0.2rem solid #000000;
    border-bottom: 0.2rem solid #000000;
    position: sticky;
    top: 0;
}

.maintable tr:last-child>* {
    border-bottom: 0.2rem solid #000000;
}

.maintable tr>*:first-child {
    border-left: 0.2rem solid #000000;
    border-right: 0.2rem solid #000000;
    position: sticky;
    left: 0;
}

.maintable tr>*:last-child {
    border-right: 0.2rem solid #000000;
}

.maintable td.skill_name {
    white-space: normal;
}

.maintable td.skill_name::first-line {
    font-weight: bold;
}

.maintable th>td:nth-of-type(2), .maintable tr>td:nth-of-type(2) {
    white-space: normal;
}