/*ボタンのためのflex-box*/
/*

.flex_btn-box {
    background-color: #ccf2ff;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flex_btn-item {
    padding: 0;
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.flex_btn-item input.active{
    background-color: #00bfff;
}*/


/*ボタン*/
/*
.open-close-btn {
    background-color: #eee;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

.open-close-btn:hover {
    cursor: pointer;
}*/
/*
.select-btn {
    background-color: #eee;
    border: 0.1rem solid #333333;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

.select-btn:hover {
    cursor: pointer;
}

.select-btn.active {
    background-color: #00bfff;
}*/