#start-finish, #gacha-bonus p, #bonus-table, #lineup-notice p, #lineup h3 {
    margin-top: 1.2rem;
}

p#total-ratio, p#total-lineup {
    display: inline;
}

#lineup.only-with-costume .flex_memoria-item {
    display: none;
}

#lineup.only-with-costume .flex_memoria-item.with-costume {
    display: block;
}
